<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  
  <title>Frontend Mentor | Calculator app</title>
  <link rel="stylesheet" href="./css/styles.css">
  <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
</head>
<body class="body-bg-one">
  <div id="calculator">
    <div class="calculator-top">
      <h2 class="company-name calc-upper-theme-one">calc</h2>
      <h4 class="theme-text calc-upper-theme-one">THEME</h4>
      <div class="slider-container">
        <p class="theme-numbers calc-upper-theme-one">123</p>
        <input type="range" class="change-mode range-bg-one body-bg-one slider-bg-one thumb-bg-one" min="1" max="3" value="1">
      </div>
    </div>
    <div class="calculator-output-container output-theme-one">
      <p class="calculator-output calc-upper-theme-one"></p>
    </div>
    <div id="calculator-buttons-container" class="buttons-container-color-one">
      <button value="7" class="calc-keys keys-border-one">7</button>
      <button value="8" class="calc-keys keys-border-one">8</button>
      <button value="9" class="calc-keys keys-border-one">9</button>
      <button value="DEL" class="calc-keys calc-delete-key bg-reset-delete-one bg-reset-delete-equal-color">DEL</button>
      <button value="4" class="calc-keys keys-border-one">4</button>
      <button value="5" class="calc-keys keys-border-one">5</button>
      <button value="6" class="calc-keys keys-border-one">6</button>
      <button value="+" class="calc-keys keys-border-one">+</button>
      <button value="1" class="calc-keys keys-border-one">1</button>
      <button value="2" class="calc-keys keys-border-one">2</button>
      <button value="3" class="calc-keys keys-border-one">3</button>
      <button value="-" class="calc-keys keys-border-one">-</button>
      <button value="." class="calc-keys keys-border-one">.</button>
      <button value="0" class="calc-keys keys-border-one">0</button>
      <button value="/" class="calc-keys keys-border-one">/</button>
      <button value="x" class="calc-keys keys-border-one">x</button>
    </div>
    <div id="calculator-last-row" class="buttons-container-color-one">
      <button value="RESET" class="calc-keys calc-reset-key bg-reset-delete-one bg-reset-delete-equal-color">RESET</button>
      <button value="=" class="calc-keys bg-equal-one bg-reset-delete-equal-color">=</button>
    </div>
    <div class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="#">Astro</a>.
    </div>
  </div>
  <script src="./scripts/index.js" type="text/javascript"></script>
</body>
</html>