<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  
  <title>Frontend Mentor | Calculator app</title>
  <link rel="stylesheet" href="./css/styles.css">
  <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
</head>
<body>
  <div id="calculator">
    <h1>calc</h1>
    <h4>THEME</h4>
    <div class="calculator-output-container">
      <p class="calculator-output"></p>
    </div>
    <div id="calculator-buttons-container">
      <button value="7" class="calc-keys">7</button>
      <button value="8" class="calc-keys">8</button>
      <button value="9" class="calc-keys">9</button>
      <button value="DEL" class="calc-keys calc-delete-key">DEL</button>
      <button value="4" class="calc-keys">4</button>
      <button value="5" class="calc-keys">5</button>
      <button value="6" class="calc-keys">6</button>
      <button value="+" class="calc-keys">+</button>
      <button value="1" class="calc-keys">1</button>
      <button value="2" class="calc-keys">2</button>
      <button value="3" class="calc-keys">3</button>
      <button value="-" class="calc-keys">-</button>
      <button value="." class="calc-keys">.</button>
      <button value="0" class="calc-keys">0</button>
      <button value="/" class="calc-keys">/</button>
      <button value="x" class="calc-keys">x</button>
    </div>
    <div id="calculator-last-row">
      <button value="RESET" class="calc-keys calc-reset-key">RESET</button>
      <button value="=" class="calc-keys calc-equals-key">=</button>
    </div>
    <div class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="#">Astro</a>.
    </div>
  </div>
  <script src="./scripts/index.js" type="text/javascript"></script>
</body>
</html>