@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
  font-family: 'League Spartan', sans-serif;
}

body {
  margin: 0;
  height: 3000px;
}
/* Theme one colors */
.body-bg-one {
  background-color: hsl(222, 26%, 31%) !important;
}

.calc-upper-theme-one {
  color: white !important;
}

.theme-one-text {
  color: white !important; /* !important property. noice*/
}

.keys-border-one {
  border-bottom-color: hsl(28, 16%, 65%) !important;
  color: hsl(221, 14%, 31%) !important;
  background-color: hsl(30, 25%, 89%) !important;
}

.keys-border-one:hover {
  cursor: pointer;
  background-color: white !important;
}

.bg-reset-delete-equal-color {
  color: white !important;
}

.bg-reset-delete-one {
  background-color: hsl(225, 21%, 49%) !important;
  border-bottom: 3.5px solid hsl(224, 28%, 35%) !important;
}

.bg-reset-delete-one:hover {
  background-color: hsl(210, 43%, 72%) !important;
  cursor: pointer;
}

.bg-equal-one {
  background-color: hsl(6, 63%, 50%) !important;
  border-bottom: 3.5px solid hsl(6, 70%, 34%) !important;
}

.bg-equal-one:hover {
  background-color: hsl(6, 71%, 65%) !important;
  cursor: pointer;
}

.buttons-container-color-one {
  background-color: hsl(223, 31%, 20%) !important;
}

.output-theme-one {
  background-color: hsl(224, 36%, 15%) !important;
}

.range-bg-one {
  background-color: hsl(222, 26%, 31%) !important;
}

.slider-bg-one::-webkit-slider-runnable-track {
  background-color: hsl(223, 31%, 20%) !important;
}

.thumb-bg-one::-webkit-slider-thumb {
  background-color: hsl(6, 63%, 50%) !important;
}
/* Theme two colors */
.body-bg-two {
  background-color: hsl(0, 0%, 90%) !important;
}

.calc-upper-theme-two {
  color: hsl(60, 10%, 19%) !important;
}

.theme-two-text {
  color: hsl(60, 10%, 19%) !important; /* !important property. noice*/
}

.keys-border-two {
  border-bottom-color: hsl(35, 11%, 61%) !important;
  color: hsl(60, 10%, 19%) !important;
  background-color: hsl(45, 7%, 89%) !important;
}

.keys-border-two:hover {
  cursor: pointer;
  background-color: white !important;
}

.bg-reset-delete-two {
  background-color: hsl(185, 42%, 37%) !important;
  border-bottom: 3.5px solid hsl(185, 58%, 25%) !important;
}

.bg-reset-delete-two:hover {
  background-color: hsl(210, 43%, 72%) !important;
  cursor: pointer;
}

.buttons-container-color-two {
  background-color: hsl(0, 5%, 81%) !important;
}

.output-theme-two {
  background-color: hsl(0, 0%, 93%) !important;
}

.bg-equal-two {
  background-color: hsl(25, 98%, 40%) !important;
  border-bottom: 3.5px solid hsl(25, 99%, 27%) !important;
}

.bg-equal-two:hover {
  background-color: hsl(6, 71%, 65%) !important;
  cursor: pointer;
}

.slider-bg-two::-webkit-slider-runnable-track {
  background-color: hsl(0, 5%, 81%) !important;
}

.thumb-bg-two::-webkit-slider-thumb {
  background-color: hsl(25, 98%, 40%) !important;
}

/* Theme three colors */
/* ! */
/* - - - */
#calculator {
  width: 430px;
}

#calculator-buttons-container, #calculator-last-row {
  box-sizing: border-box;
  width: inherit;
  display: grid;
  gap: 20px;
}

#calculator-buttons-container {
  padding: 25px 25px 0;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 8px 8px 0 0;
}

#calculator-last-row {
  grid-template-columns: repeat(2, 1fr);
  padding: 25px;
  border-radius: 0 0 8px 8px;
}

.calc-keys {
  font-weight: 700;
  font-size: 2rem;
  padding: 8px 0;
  border: none;
  border-radius: 5px;
  border-bottom: 3.5px solid;
}

.calc-delete-key, .calc-equals-key, .calc-reset-key {
  font-size: 1.4rem;
  transition: all 0.15s;
}

.calc-reset, .calc-equals-key {
  padding: 12px 0;
}

.calc-equals-key {
  
}

.calculator-output-container {
  box-sizing: border-box;
  width: inherit;
  height: 100px;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.calculator-output {
  font-size: 2.6rem;
  font-weight: bold;
}

.change-mode {
  -webkit-appearance: none;
  width: 56px;
  cursor: pointer;
  padding-bottom: 10px;
}

.change-mode::-webkit-slider-runnable-track {
  padding: 4px;
  border-radius: 12px;
}

.change-mode::-webkit-slider-thumb {
  height: 14px;
  width: 14px;
  border-radius: 14px;
  -webkit-appearance: none;
}

.theme-text, .theme-numbers {
  font-size: 0.6rem;
}

.company-name, .theme-numbers, .theme-text {
  margin-top: 0;
  margin-bottom: 0;
}

.theme-numbers {
  letter-spacing: 14px;
  text-align: center;
  padding-left: 10px;
}

.theme-text {
  letter-spacing: 1px;
}

.company-name {
  flex: 1;
}

.calculator-top {
  display: flex;
  align-items: center;
  height: 80px;
  box-sizing: border-box;
}

.slider-container {
  display: flex;
  flex-direction: column;
  margin-left: 18px;
}

/* Theme #2 */
/* .body-theme {
  background-color: hsl(0, 0%, 90%);
}

.theme-two-text {
  color: hsl(60, 10%, 19%);
} */
